.block{
    background-color: lightblue;
}
.inline{
    background-color: blueviolet;
    display: inline;
}
.inline-block{
    background-color: chartreuse;
    display: inline-block;
}
.span{
    background-color:darkmagenta;
}