.image{
    border: 2px solid red;
    background-position: center;
    background-size: cover;
    margin-left: 30px;
}
.im{
    border: 2px solid red;
    background-color: burlywood;
    margin-left: 30px;
    height: 40px;
}
.im h1{
    color: red;
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 20px;
    margin-left: 100px;
}
.update{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
