.local{
    font-size: 40px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
.local p{
    font-weight: bolder;
}
.downloaded{
     font-family: "Montserrat Underline", serif;
  /* font-optical-sizing: auto; */
  font-weight:400px;
  font-style: normal;
}
.text{
    text-transform: capitalize;
    text-indent: 120px;
    color: green;
    text-shadow: 1px 1px red;
    line-height: 30px ;
    word-spacing: 30px;
    letter-spacing: 20px;
    
}
.google{
    text-decoration: none;
}
.wrap{
    border: 2px solid red;
    width: 350px;
    height: 200px;
    white-space: nowrap;
}
.lorem-box{
    border: 2px solid lightgray;
    width: 700px;
    height: 400px;
}
.life{
    float: right;
}
