.robot{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
    max-width: none;
    padding-left: 200px;
}
.written{
    color: black;
    font-size: 27px;
    padding-left: 200px;
    font-weight:200px;
}
.bot{
    text-decoration: underline;
    color: red;
}
.topic{
    /* border: 2px solid red; */
    color: black;
    padding-left: 300px;
}
ul li{
    list-style: none;
    display: inline;
}
.turn{
    color: black;
    padding-left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.turn:hover h1{
    color: red;
}
.jeol{
    color: red;
    padding-left: 200px;
}
.learn{
    color: black;
    padding-left: 200px;
}
.learn:hover{
    color: red;
}
.sign{
    /* border: 2px solid red; */
    /* padding-left: 50px; */
    background-color: rgb(197, 212, 226);
    border-radius: 5px;
    width: 500px;
    height: 200px;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 5px;
    margin-left: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.email{
    width: 400px;
    height: 30px;
}
.sub{
    border-radius: 40px;
    background-color: red;
    color: white;
    width: 70px;
    height: 30px;
}
.kata{
    padding-left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fritz{
    color: red;
}
.topics{
    background-color: red;
    color: white;
    border: none;
    border-radius: 50px;
    width: 80px;
    height: 40px;
}
button{
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    width: 80px;
    height: 40px;
}
button:hover{
    border: 3px solid red;
    color: red;
}