body{
    font-family: Arial, sans-serif;
    background-color: rgb(175, 9, 9);
}
.nav{
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: space-around;
    background-color: rgb(1, 1, 32)
}
.list{
    display: flex;
    gap: 3rem;
    font-size: 17px;
    font-weight: bold;
    align-items: center;
    color:wheat;
}
.phone{
    padding-top: 40px;
    color: wheat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    text-align: center;
}
.pic{
    display: flex;
    height: 300px;
}
.feature{
    padding-left: 20px;
    color: wheat;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    text-align: center;
}
.spec{
    padding-left: 20px;
    color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}
.click{
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: navy;
    color: white;
    border-radius: 12pt;
    border-style: none;
    margin-left: 130px;
}